img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    list-style-type: none;
    line-height: 1;
    font-size: 20px;
    color: #610B30;
    font-weight: 500;
    font-family: Roboto;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    background-color: bisque;
}

._container{
    max-width: 900px;
    padding: 0px 25px;
    margin: 0px auto;
    box-sizing: content-box;

}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container{
    display: flex;
    min-height: 122px;
    align-items: center;
}

.header__menu{
    margin: 0px 0px 0px 133px;
}

.memu__link{
    color: #610B30;
    font-weight: 500;
    line-height: 171%;
}

.menu__list{
    flex-wrap: wrap;
    display: flex;
}

.menu__item{
}

.menu__item:not(:last-child){
    margin: 0px 70px 0px 0px;
}
